
*{
    margin: 0;
    padding: 0;
}
.parent{
    height: auto;
    margin: auto;
    max-width: 2000px;
    width: 100%;
    max-width: fit-content;
    margin-left: auto;
}
.bgcolor{
    background: linear-gradient(94.59deg, #4923B4 2.39%, #E878CF 97.66%);
    width:100%;
    height: 800px;
    gap: 0px;
    border-radius: 0px 0px 200px 0px;
    opacity: 0px;

}
.header{
    height: 50px;
    width: 98%;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;

}
.vector{
    margin-top: 2%;
    margin-left: 2%;
    width: 11%;
    height: 17px;
    top: 38px;
    left: 50px;
    gap: 0px;
    opacity: 0px;

}
.header_1{
    margin-left: 18%;
    width: 35%;
    margin-top: 2%;
    gap: 10%;
    font-size:large;
    display: flex;
    color: aliceblue;
}

.header_2{
    width: 25%;
    margin-top: 2%;
    gap: 6%;
    font-size: large;
    display: flex;
    color: aliceblue;
    display: flex;
    justify-content: right;
}
.text-pic{
    margin-inline-end: -10.5%;
    margin-top: -15%;
    padding: 10%;
}
.picture{
    max-width: fit-content;
    margin-left: auto;
}
.text-button{
    width: 60%;
    margin-top: -22%;
    margin-left: 1%;
}
.upgrade{
    color: aliceblue ;
    width: 100%;
    font-family: Poppins;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: Poppins;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}

.upgrade_1{
    color: aliceblue ;
    width: 90%;
    margin-top: 5%;
    display: flex;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.button{
    width: 55%;
   
}
.button1{
    margin-left:-5% ;
    margin-top: 12%;
    background: rgba(255, 0, 199, 1);
    width: 42%;
    height: 45px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    border: none;
    border-radius: 12px;
}
.button1:hover{
    color: black;
}
.button2{
    margin-top: 12%;
    width: 38%;
    height: 45px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: aliceblue;      
    background: rgb(0 0 0 / 0%);  
    border: solid 1px;
    border-radius: 12px;
    margin-inline: 5%;
}
.button2:hover{
    color: black;
}
.our-company{
width: 80%;
margin-top: 2%;

}

.title-1{
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -0.002em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(70, 71, 71, 1);
    width: 50%;
    line-height: 60px;
    margin-left: 36%;
    }

    .our{
        margin-top: 5%;
    }
    .our-c{
        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 62px;
        letter-spacing: -0.002em;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-left: 5%;
    }
    .brand{
        margin-top: 5%;
        margin-left: 26%;
        }
        .our{
            margin-top: 5%;
        }
        .our-c{
            font-family: Poppins;
            font-size: 38px;
            font-weight: 600;
            line-height: 62px;
            letter-spacing: -0.002em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 5%;
        }
        .menu{
            width: 100%;
        height: 39px;
       margin-top: 1%;
            display: flex;
        flex-direction:row ;
        color: rgba(120, 120, 120, 1);
    
        }
        .top{
            font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.002em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 5%;
        }
        .develop{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: -0.002em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 2%;
        }
        .design{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: -0.002em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 2%;
        }
        .music{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: -0.002em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 2%;
        }
        .business{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: -0.002em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 2%;
        }
        .photography{        font-family: Poppins;
            font-size: 25px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: -0.002em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 2%;
        }
        .top:hover{
            color:rgba(80, 39, 181, 1);
            
        border-bottom: solid 3px rgba(80, 39, 181, 1);
        }
        .develop:hover{
            color:rgba(80, 39, 181, 1);
            
        border-bottom: solid 3px rgba(80, 39, 181, 1);
        }
        .design:hover{
            color:rgba(80, 39, 181, 1);
            
        border-bottom: solid 3px rgba(80, 39, 181, 1);
        }
        .music:hover{
            color:rgba(80, 39, 181, 1);
            
        border-bottom: solid 3px rgba(80, 39, 181, 1);
        }
        .business:hover{
            color:rgba(80, 39, 181, 1);
            
        border-bottom: solid 3px rgba(80, 39, 181, 1);
        }
        .photography:hover{
            color:rgba(80, 39, 181, 1);
            
        border-bottom: solid 3px rgba(80, 39, 181, 1);
        }
        .card{
            margin-top: 3%;
            display: grid;
            grid-template-rows: 400px 400px;
            grid-template-columns:repeat(4,350px) ;
            row-gap: 5%;
            margin-left: 3%;
        }
        .card-1{
            width: 80%;
        height: 415px;
        box-shadow: 0px 0px 9px 0px rgba(153, 153, 151, 0.25);
        border-radius: 6px;
        }
        
  .explain-1{
    width: 400%;
    margin-top: 5%;
    margin-left: 12%;
  }
  .artifical{
    width: 15%;
height: 32px;
border-radius: 7px;
background: rgba(234, 234, 234, 1);


  }
  .rtifical-1{
    font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(102, 103, 104, 1);
    margin-left: 11%;
  }
  .modern{
    width: 20%;
height: 46px;
  }
  .modern-1{
    font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 22.5px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-top: 5%;
  }
  .name-1{
    font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
  }
  .b-r{
    margin-top: 1%;
    display: flex;flex-direction: row;
  }
  .range-1{
color: rgba(80, 39, 181, 1);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  }
  .button{
   width: 55%;
   margin-top: 0%;
   margin-left: 2.5%;
  }
  .button-1{
    width: 17%;
    height: 30px;
    border: 1px 0px 0px 0px;
    background: rgba(163, 40, 250, 0);
    border: solid 1px;
    border-radius: 6px;
    margin-inline: 5%;
    color: rgba(80, 39, 181, 1);
    
  }
  .button-1:hover{
    color: rgb(37, 16, 71);
    box-shadow: 2px  2px 0px #4923B4;
  }

  .cart-2{
    width: 80%;
height: 415px;
border-radius: 6px;
box-shadow: 0px 0px 9px 0px rgba(153, 153, 151, 0.25);

}
.png-22{
    width: 100%;
     height: 200px;
    border-radius: 12px;
}

.explain-2{
width: 400%;
margin-top: 5%;
margin-left: 12%;
}
.uiux{
width: 15%;
height: 32px;
border-radius: 7px;
background: rgba(234, 234, 234, 1);


}
.uiux-1{
font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(102, 103, 104, 1);
margin-left: 20%;
}
.figma{
width: 20%;
height: 46px;
}
.figma-1{
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 22.5px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-top: 5%;
}
.name-2{
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
}
.b-r2{
margin-top: 1%;
display: flex;flex-direction: row;
}
.range-2{
color: rgba(80, 39, 181, 1);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.button22{
width: 55%;
margin-top: 0%;
margin-left: 2.5%;
}
.button-2{
width: 17%;
height: 30px;
border: 1px 0px 0px 0px;
background: rgba(163, 40, 250, 0);
border: solid 1px;
border-radius: 6px;
margin-inline: 5%;
color: rgba(80, 39, 181, 1);

}
.button-2:hover{
color: rgb(37, 16, 71);
box-shadow: 2px  2px 0px #4923B4;
}
.cart-3{
   width: 80%;
   height: 415px;
border-radius: 6px;
box-shadow: 0px 0px 9px 0px rgba(153, 153, 151, 0.25);
}

.png33{
    width: 100%;
    height: 200px;
    border-radius: 12px;}

.explain-3{
width: 400%;
margin-top: 5%;
margin-left: 12%;
}
.uiux1{
width: 15%;
height: 32px;
border-radius: 7px;
background: rgba(234, 234, 234, 1);


}
.uiux-1{
font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(102, 103, 104, 1);
margin-left: 11%;
}
.figma1{
width: 20%;
height: 46px;
}
.figma-3{
font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 22.5px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-top: 5%;
}
.name-3{
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
}
.b-r3{
margin-top: 1%;
display: flex;flex-direction: row;
}
.range-3{
color: rgba(80, 39, 181, 1);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.button33{
width: 55%;
margin-top: 0%;
margin-left: 2.5%;
}
.button-3{
width: 17%;
height: 30px;
border: 1px 0px 0px 0px;
background: rgba(163, 40, 250, 0);
border: solid 1px;
border-radius: 6px;
margin-inline: 5%;
color: rgba(80, 39, 181, 1);

}
.button-3:hover{
color: rgb(37, 16, 71);
box-shadow: 2px  2px 0px #4923B4;
}
.cart-4{
    width: 80%;
    height: 415px;
border-radius: 6px;
box-shadow: 0px 0px 9px 0px rgba(153, 153, 151, 0.25);
}

.png44{
    width: 100%;
    height: 200px;
    border-radius: 12px;}

.explain-4{
width: 400%;
margin-top: 5%;
margin-left: 12%;
}
.develop1{
width: 15%;
height: 32px;
border-radius: 7px;
background: rgba(234, 234, 234, 1);


}
.develop-1{
font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(102, 103, 104, 1);
margin-left: 11%;
}
.development1{
width: 20%;
height: 46px;
}
.development-3{
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 22.5px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-top: 5%;
}
.name-4{
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
}
.b-r4{
margin-top: 1%;
display: flex;flex-direction: row;
}
.range-4{
color: rgba(80, 39, 181, 1);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.button44{
width: 55%;
margin-top: 0%;
margin-left: 2.5%;
}
.button-4{
width: 17%;
height: 30px;
border: 1px 0px 0px 0px;
background: rgba(163, 40, 250, 0);
border: solid 1px;
border-radius: 6px;
margin-inline: 5%;
color: rgba(80, 39, 181, 1);

}
.button-4:hover{
color: rgb(37, 16, 71);
box-shadow: 2px  2px 0px #4923B4;
}

.cart-5{
    width: 80%;
    height: 415px;
border-radius: 6px;
box-shadow: 0px 0px 9px 0px rgba(153, 153, 151, 0.25);
}

.png55{
    width: 100%;
    height: 200px;
    border-radius: 12px;}

.explain-5{
width: 400%;
margin-top: 5%;
margin-left: 12%;
}
.develop5{
width: 15%;
height: 32px;
border-radius: 7px;
background: rgba(234, 234, 234, 1);


}
.develop-5{
font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(102, 103, 104, 1);
margin-left: 11%;
}
.development5{
width: 20%;
height: 46px;
}
.development-5{
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 22.5px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-top: 5%;
}
.name-5{
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
}
.b-r5{
margin-top: 1%;
display: flex;flex-direction: row;
}
.range-5{
color: rgba(80, 39, 181, 1);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.button55{
width: 55%;
margin-top: 0%;
margin-left: 2.5%;
}
.button-5{
width: 17%;
height: 30px;
border: 1px 0px 0px 0px;
background: rgba(163, 40, 250, 0);
border: solid 1px;
border-radius: 6px;
margin-inline: 5%;
color: rgba(80, 39, 181, 1);

}
.button-5:hover{
color: rgb(37, 16, 71);
box-shadow: 2px  2px 0px #4923B4;
}
.cart-6{
    width: 80%;
height: 415px;
border-radius: 6px;
box-shadow: 0px 0px 9px 0px rgba(153, 153, 151, 0.25);
}

.png66{
    width: 100%;
    height: 200px;
    border-radius: 12px;}

.explain-6{
width: 400%;
margin-top: 5%;
margin-left: 12%;
}
.develop6{
width: 15%;
height: 32px;
border-radius: 7px;
background: rgba(234, 234, 234, 1);


}
.develop-6{
font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(102, 103, 104, 1);
margin-left: 11%;
}
.development6{
width: 20%;
height: 46px;
}
.development-6{
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 22.5px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-top: 5%;
}
.name-6{
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
}
.b-r6{
margin-top: 1%;
display: flex;flex-direction: row;
}
.range-6{
color: rgba(80, 39, 181, 1);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.button66{
width: 55%;
margin-top: 0%;
margin-left: 2.5%;
}
.button-6{
width: 17%;
height: 30px;
border: 1px 0px 0px 0px;
background: rgba(163, 40, 250, 0);
border: solid 1px;
border-radius: 6px;
margin-inline: 5%;
color: rgba(80, 39, 181, 1);

}
.button-6:hover{
color: rgb(37, 16, 71);
box-shadow: 2px  2px 0px #4923B4;
}
.cart-7{
    width: 80%;
height: 415px;
border-radius: 6px;
box-shadow: 0px 0px 9px 0px rgba(153, 153, 151, 0.25);
}

.png77{
    width: 100%;
    height: 200px;
    border-radius: 12px;}

.explain-7{
width: 400%;
margin-top: 5%;
margin-left: 12%;
}
.develop7{
width: 15%;
height: 32px;
border-radius: 7px;
background: rgba(234, 234, 234, 1);


}
.develop-7{
font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(102, 103, 104, 1);
margin-left: 11%;
}
.development7{
width: 20%;
height: 46px;
}
.development-7{
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 22.5px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-top: 5%;
}
.name-7{
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
}
.b-r7{
margin-top: 1%;
display: flex;flex-direction: row;
}
.range-7{
color: rgba(80, 39, 181, 1);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.button77{
width: 55%;
margin-top: 0%;
margin-left: 2.5%;
}
.button-7{
width: 17%;
height: 30px;
border: 1px 0px 0px 0px;
background: rgba(163, 40, 250, 0);
border: solid 1px;
border-radius: 6px;
margin-inline: 5%;
color: rgba(80, 39, 181, 1);

}
.button-7:hover{
color: rgb(37, 16, 71);
box-shadow: 2px  2px 0px #4923B4;
}
.cart-8{
    width: 80%;
height: 415px;
border-radius: 6px;
box-shadow: 0px 0px 9px 0px rgba(153, 153, 151, 0.25);
}

.png88{
    width: 100%;
    height: 200px;
    border-radius: 12px;}

.explain-8{
width: 400%;
margin-top: 5%;
margin-left: 12%;
}
.develop8{
width: 15%;
height: 32px;
border-radius: 7px;
background: rgba(234, 234, 234, 1);


}
.develop-8{
font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(102, 103, 104, 1);
margin-left: 11%;
}
.development8{
width: 20%;
height: 46px;
}
.development-8{
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 22.5px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
margin-top: 5%;
}
.name-8{
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
}
.b-r8{
margin-top: 1%;
display: flex;flex-direction: row;
}
.range-8{
color: rgba(80, 39, 181, 1);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.0024em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.button88{
width: 55%;
margin-top: 0%;
margin-left: 2.5%;
}
.button-8{
width: 17%;
height: 30px;
border: 1px 0px 0px 0px;
background: rgba(163, 40, 250, 0);
border: solid 1px;
border-radius: 6px;
margin-inline: 5%;
color: rgba(80, 39, 181, 1);

}
.button-8:hover{
color: rgb(37, 16, 71);
box-shadow: 2px  2px 0px #4923B4;
}
.show-more{
    font-family: Poppins;
font-weight: 500;
font-size: 17px;
line-height: 25.5px;
letter-spacing: -0.24%;
color: rgba(80, 39, 181, 1);
display: flex;
justify-content: space-between;
margin-left:180% ;
width: 30%;
}
.our-future{
    width: 88%;
    margin-left: 0.5%;
}
.our{
margin-top: 9%;

}
.h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;
    letter-spacing: -0.2%;
    text-align: center;
    
}
.h2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2%;
    text-align: center;
    color: rgba(102, 103, 104, 1);
    
}
.our-2{
    width: 60%;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns:repeat(3,350px) ;
    row-gap: 5%;
    margin-left: 20%;
    margin-top: 5%;
}
.life{
width: 60%;
}
.h11{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2%;
    text-align: start;
    color: black;    

}

.h22{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2%;
text-align: justify;
color: rgba(102, 103, 104, 1);
}

.online{width: 60%;}

.h1o{
    font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.2%;
text-align:start;
color: rgba(0, 0, 0, 1);

}
.h2o{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2%;
text-align: justify;
color: rgba(102, 103, 104, 1);
}
.get{width: 60%;}

.h1g{
    font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.2%;
text-align:start;
color: rgba(0, 0, 0, 1);

}
.h2g{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2%;
text-align: justify;
color: rgba(102, 103, 104, 1);
}
.expert{width: 60%;}

.h1e{
    font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.2%;
text-align:start;
color: rgba(0, 0, 0, 1);

}
.h2e{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2%;
text-align: justify;
color: rgba(102, 103, 104, 1);
}
.great{width: 60%;}

.h1gr{
    font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.2%;
text-align:start;
color: rgba(0, 0, 0, 1);

}
.h2gr{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2%;
text-align: justify;
color: rgba(102, 103, 104, 1);
}
.best{width: 60%;}

.h1b{
    font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.2%;
text-align:start;
color: rgba(0, 0, 0, 1);

}
.h2b{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2%;
text-align: justify;
color: rgba(102, 103, 104, 1);
}
.component1{
    width: 95%;
    height: 380px;
}
.component-1{
    width: 37%;
    text-align:justify;
    margin-left: 60%;
    margin-top: 25%;
}
.h1BP{
    font-family: Poppins;
font-weight: 550;
font-size: 42px;
line-height: 62px;
letter-spacing: -0.2%;
text-align: justify;
color: black;
}
.h2BP{
    margin-top: 2%;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: justify;
    color: rgba(102, 103, 104, 1);
}
.button-c1{
    margin-top: 3%;
    width: 32%;
color: aliceblue;
font-family: Poppins;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.24%;
background: rgba(172, 133, 255, 1);
border: rgba(172, 133, 255, 1);
height: 43px;
border-radius: 12px;
}
.button-c1:hover{
    color: rgb(37, 16, 71);
box-shadow: 2px  2px 0px #4923B4;
}
.c1{
    width: 40%;
    margin-top: -20%;
    margin-left: 12%;
}
.image-c1{
    margin-top: -80%;
    margin-left: 8%;
}

.component2{
    width: 95%;
    height: 380px;
    margin-top: 24%;
}
.component-2{
    width: 37%;
    text-align:justify;
    margin-left: 20%;
    margin-top: 15%;
}
.h3BP{
    font-family: Poppins;
font-weight: 550;
font-size: 42px;
line-height: 62px;
letter-spacing: -0.2%;
text-align: justify;
color: black;
}
.h4BP{
    margin-top: 3%;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: justify;
    color: rgba(102, 103, 104, 1);
}
.button-c2{
    margin-top: 3%;
    width: 32%;
color: aliceblue;
font-family: Poppins;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.24%;
background:  rgba(82, 40, 182, 1);
border: rgba(82, 40, 182, 1);
height: 43px;
border-radius: 12px;
}
.button-c2:hover{
    color: rgb(37, 16, 71);
box-shadow: 2px  2px 0px #4923B4;
}
.c2{
    width: 40%;
    margin-left: 60%;
    margin-top: -27%;
}
.image-c2{
    margin-top: -100%;
    margin-left: 5%;
    width: 54%;
}
.image-2{
    margin-top: -2.3%;
    margin-left: 7%;
    width: 80%;
}
.image-c{
    margin-top: -74%;
    margin-left: 6%;
}
.component-3{
    margin-top: 18%;
    margin-left: 0.5%;
}

.img-3{
    margin-left: 2%;

}.component3-card{
    display: grid;
        grid-template-columns: 305px 305px 305px;
        gap: 4%;
        margin-top: -10%;
        margin-left: 12%;
}
.card1{
    width: 100%;
    height: 373px;
    box-shadow: 0px 0px 11px 0px rgba(153, 153, 153, 0.3);
    background: rgba(255, 255, 255, 1);
    border-radius: 12px;
}
.img-12{
    width: 100%;
    height: 227px ;
    border-radius: 12px 12px 0 0;
}
.svg-1{
    margin-left: 5%;
    margin-top: 5%;
}
.web-d{
    font-family: Poppins;
font-weight: 500;
font-size: 16px;
line-height: 21px;
letter-spacing: -0.2%;
text-align: justify;
color: rgba(120, 120, 120, 1);
margin-left: 12%;
margin-top: -8%;
}
.web-d1{
    font-family: Montserrat;
font-weight: 600;
font-size: 16px;
line-height: 19.5px;
letter-spacing: -0.2%;
color: black;
width: 100%;
margin-top: 5%;
margin-left: 5%;
}
.svg-2{
    width: 100%;
    margin-left: 5%;
    margin-top: 9%;  
}
.calunder{
    font-family: Montserrat;
font-weight: 500;
font-size: 14px;
line-height: 17.07px;
letter-spacing: -0.2%;
color: rgba(120, 120, 120, 1);
margin-left: 8%;
margin-top: -7%;
width: 27%;
}
.read{
    font-family: Montserrat;
font-weight: 600;
font-size: 14px;
line-height: 17.07px;
letter-spacing: -0.2%;
color: rgba(82, 40, 182, 1);
margin-top: -6%;
margin-left: 60%;
width: 23%;
}
.flash{

margin-left: 78%;
margin-top: -7%;
}
.card2{
    width: 100%;
    height: 373px;
    box-shadow: 0px 0px 11px 0px rgba(153, 153, 153, 0.3);
    background: rgba(255, 255, 255, 1);
    border-radius: 12px;
}
.img-card2{
    width: 100%;
    height: 227px ;
    border-radius: 12px 12px 0 0; 
}
.svg-card2{
    width: 100%;
    margin-left: 3%;
    margin-top: 5%;
}
.Business{
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.2%;
    text-align: justify;
    color: rgba(120, 120, 120, 1);
    margin-left: 12%;
    margin-top: -8%;
}
.Lorem2{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: -0.2%;
    color: black;
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
}
.svg2-card2{
    width: 100%;
    margin-left: 5%;
    margin-top: 9%; 
}
.calunder2{
    font-family: Montserrat;
font-weight: 500;
font-size: 14px;
line-height: 17.07px;
letter-spacing: -0.2%;
color: rgba(120, 120, 120, 1);
margin-left: 8%;
margin-top: -7%;
width: 27%;
}
.read2{
    font-family: Montserrat;
font-weight: 600;
font-size: 14px;
line-height: 17.07px;
letter-spacing: -0.2%;
color: rgba(82, 40, 182, 1);
margin-top: -6%;
margin-left: 60%;
width: 23%;
}
.flash2{

margin-left: 78%;
margin-top: -7%;
}
.card3{
    width: 100%;
    height: 373px;
    box-shadow: 0px 0px 11px 0px rgba(153, 153, 153, 0.3);
    background: rgba(255, 255, 255, 1);
    border-radius: 12px;
}
.img-card3{
    width: 100%;
    height: 227px ;
    border-radius: 12px 12px 0 0; 
}
.svg-card3{
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
}
.Technology{
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.2%;
    text-align: justify;
    color: rgba(120, 120, 120, 1);
    margin-left: 12%;
    margin-top: -8%;
}
.Lorem3{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: -0.2%;
    color: black;
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
}
.svg2-card3{
    width: 100%;
    margin-left: 5%;
    margin-top: 9%; 
}
.calunder3{
    font-family: Montserrat;
font-weight: 500;
font-size: 14px;
line-height: 17.07px;
letter-spacing: -0.2%;
color: rgba(120, 120, 120, 1);
margin-left: 8%;
margin-top: -7%;
width: 27%;
}
.read3{
    font-family: Montserrat;
font-weight: 600;
font-size: 14px;
line-height: 17.07px;
letter-spacing: -0.2%;
color: rgba(82, 40, 182, 1);
margin-top: -6%;
margin-left: 60%;
width: 23%;
}
.flash3{

margin-left: 78%;
margin-top: -7%;
}
.our-last{
    font-family: Poppins;
font-weight: 600;
font-size: 44px;
line-height: 55px;
text-align: center;
color: black;
margin-top: -25%;
margin-left: -22%;
}
.img-4{
    margin-top: 34%;
    margin-left: 8%;
    width: 30%;
}
.component4-2{
    width:50%;
    margin-left: 30%;
    margin-top: -17%;
}
.component4-h1{
    font-family: Poppins;
font-weight: 700;
font-size: 38px;
line-height: 62px;
letter-spacing: -0.2%;
text-align: justify;
color: rgba(82, 40, 182, 1);
margin-left: 23%
}
.component4-h2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2%;
    color: rgba(102, 103, 104, 1);
    width: 52%;
    margin-left: 24%;
}
.input{
    margin-left: 41%;
    width: 32%;
    height: 49px;
    margin-top: 2%;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.24%;
    color: rgba(82, 40, 182, 1);  
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
    border: rgba(102, 103, 104, 1);

}
.button-c4{
    width: 78%;
    height: 49px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: aliceblue;
    margin-left: 529%;
    border-radius: 12px;
    background: rgba(82, 40, 182, 1);
}
.input1{
    height: 58px;
}
.buttonc4{
    margin-top: -2.5%;
    width: 12%;
}
.component-4{
    height: 473px;
}
.footer{
width: 100%;
height:360px ;
background-color: rgba(27, 27, 27, 1);
display: grid;
grid-template-columns: 400px 210px 210px 400px;

}
.footer-1{
    margin-left: 70%;
    width: 66%;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0%;    
color:rgba(255, 255, 255, 1);
}
.footer-2{
    margin-left: 250%;
    margin-top: 33%;
    width: 43%;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0%;    
color: rgba(255, 255, 255, 1);
}
.footer-3{ 
    margin-left: 300%;
    margin-top: 33%;
    width: 26%;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0%;    
color:rgba(255, 255, 255, 1);
}
.footer-4{ 
    margin-left: 200%;
    width: 68%;
    margin-top: 20%;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0%;    
color: rgba(255, 255, 255, 1);
}
.fo-h1{
    font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 30px;
}
.end{
    color: rgb(149, 149, 149);
    margin-left: 240%;
    width: 100%;
    margin-top: 7%;
}
.svg-f1{
    margin-top: 32%;
}
.svg-e{margin-top: 7% ; }
.svg-e1{  margin-left: 4%;}
.svg-e2{ margin-left: 4%;}
.svg-e3{margin-left: 4%;}
.footer-n{ margin-top: 2%;}
.p-a:hover{
animation: backwards ;
color: #E878CF;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .text {
    font-size: 18px;
  }
  

  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-around;
      padding: 40px;
    }
    .title {
      font-size: 32px;
    }
    .text {
      font-size: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 80%;
      margin: 0 auto;
    }
    .title {
      font-size: 36px;
    }
    .text {
      font-size: 22px;
    }
  }
  @media (max-width: 1200px) {
    .our-2 {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10%;
    }
    .component1, .component2 {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .component-1, .component-2 {
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 992px) {
    .cart-7, .cart-8 {
        width: 100%;
    }
    .component3-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 3%;
        margin-left: 5%;
    }
}


@media (max-width: 576px) {
    .h1, .h3BP {
        font-size: 32px;
        line-height: 48px;
    }
    .h2, .h4BP {
        font-size: 14px;
        line-height: 22px;
    }
    .button-6, .button-7, .button-8 {
        width: 40%;
        font-size: 14px;
    }
    .show-more {
        font-size: 14px;
        margin-left: 100%;
        width: 50%;
    }
}

  